</script>
<div class="container">

    <h2 class="my-4">空室確認（Check availability）</h2>
    <form action="{{ url_for('index') }}" method="post">
        <div class="form-group">
            <label for="お部屋タイプ（room type）">お部屋タイプ（room type）</label>
            <select class="form-control" id="room_type" name="room_type">
                <option value="double_room">ダブルルーム（Double Room）</option>
            </select>
        </div>
        <div class="form-group">
            <label for="チェックイン希望日（check_in_date）">チェックイン希望日（Check-in Date）</label>
            <input class="form-control" id="check_in_date" name="check_in_date" required="" type="date" />
        </div>
        <div class="form-group">
            <label for="チェックアウト希望日（check_out_date）">チェックアウト希望日（Check-out Date）</label>
            <input class="form-control" id="check_out_date" name="check_out_date" required="" type="date" />
        </div>
        <div class="form-group">
            <span id="number_of_nights"></span>
        </div>
        <div class="form-group">
            <span id="availability"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="予約へ進む（Reserve）" />
        </div>
    </form>
